.ea-num{
    padding: 15rem;
}

.input-box{
    background-color: #fff;
    justify-content: center;
    width: 100rem;
}
.p-txt{
    font-family: "Mulish";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.label{
    padding: 2rem;
}

input{
    padding: .5rem;
    margin-left: 1.5rem;
    margin-bottom: 5%;
    border: 2px solid #000;
    border-radius: .5rem;
}